.title{
    font-size: 12px;
    font-weight: bold;
}

.price{
    font-size: 11px;
}

.card-width{
    width: 18rem;
}

img {
    height: 190px;
}

.margin-top-10{
    margin-top: 10px;
}
